# Note to Reviewer: 
Several feature engineering steps were completed throughout my data preprocessing and EDA steps. 
I've completed troubleshooting for previous open questions:
- why do all zctas have at least one flood? I made the choice early on to only include zctas with floods, but went back and added all. ZCTAs with no floods could add value to model.
- I added a new dataset, National hydrography dataset (ie streamlines) and calculated total channel lenght within each zcta.
- I also added a count of flood by season (fall, winter, and spring) to use in the model

In [29]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [18]:
data = pd.read_csv('data/02_data.csv', index_col=0)

data.isna().sum()

med_houseinc_12mon              0
household_public_assistance1    0
state_fips                      0
nflood_total                    0
flood_count_fall                0
flood_count_winter              0
flood_count_spring              0
nflood_2000s                    0
nflood_2010s                    0
flood_dur_hours_median          0
flood_dur_hours_min             0
flood_dur_hours_max             0
zcta                            0
channel_length_km               0
delta_floods                    0
dtype: int64

In [20]:
# keep zcta but remove from modeling data
data.index = data['zcta']

# drop columns not used in model
data_medianinc = data.drop(['zcta', 'state_fips', 'household_public_assistance1'], axis=1)

data_medianinc

,med_houseinc_12mon,nflood_total,flood_count_fall,flood_count_winter,flood_count_spring,nflood_2000s,nflood_2010s,flood_dur_hours_median,flood_dur_hours_min,flood_dur_hours_max,channel_length_km,delta_floods
zcta,,,,,,,,,,,,
35004,76683.0,1,0,0,0,1.0,0.0,1.967213,1.967213,1.967213,64.301,-1.000000
35005,55017.0,3,1,0,0,2.0,1.0,3.442623,1.967213,3.934426,94.617,-0.333333
35006,63521.0,2,0,1,0,0.0,1.0,3.196721,1.967213,4.426230,306.497,1.000000
35007,81351.0,6,1,0,1,1.0,4.0,2.459016,0.983607,8.852459,108.522,0.600000
35010,46730.0,5,0,0,1,2.0,2.0,1.721311,0.983607,8.360656,649.526,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
99919,64135.0,0,0,0,0,0.0,0.0,0.000000,0.000000,0.000000,0.000,0.000000
99921,59219.0,0,0,0,0,0.0,0.0,0.000000,0.000000,0.000000,0.000,0.000000
99922,53125.0,0,0,0,0,0.0,0.0,0.000000,0.000000,0.000000,0.000,0.000000
99925,80313.0,0,0,0,0,0.0,0.0,0.000000,0.000000,0.000000,0.000,0.000000
99926,78365.0,0,0,0,0,0.0,0.0,0.000000,0.000000,0.000000,0.000,0.000000

### Scale Data

In [28]:
# scale data

scaler = StandardScaler()

data_medianinc_scaled = scaler.fit_transform(data_medianinc)
data_medianinc_scaled = pd.DataFrame(data_medianinc_scaled, columns=data_medianinc.columns)
data_medianinc_scaled

,med_houseinc_12mon,nflood_total,flood_count_fall,flood_count_winter,flood_count_spring,nflood_2000s,nflood_2010s,flood_dur_hours_median,flood_dur_hours_min,flood_dur_hours_max,channel_length_km,delta_floods
0,0.108615,-0.360028,-0.330981,-0.308605,-0.444974,0.134352,-0.483166,-0.168947,-0.082832,-0.266465,-0.401614,-2.197254
1,-0.584614,-0.034571,0.593177,-0.308605,-0.444974,0.678484,-0.247488,-0.139759,-0.082832,-0.248153,-0.314405,-1.049363
2,-0.312519,-0.197300,-0.330981,0.284585,-0.444974,-0.409780,-0.247488,-0.144624,-0.082832,-0.243575,0.295099,1.246419
3,0.257973,0.453614,0.593177,-0.308605,-0.070396,0.134352,0.459544,-0.159218,-0.114528,-0.202373,-0.274406,0.557685
4,-0.849766,0.290886,-0.330981,-0.308605,-0.070396,0.678484,-0.011811,-0.173812,-0.114528,-0.206951,1.281872,-0.475417
...,...,...,...,...,...,...,...,...,...,...,...,...
30346,-0.292873,-0.522757,-0.330981,-0.308605,-0.444974,-0.409780,-0.483166,-0.207864,-0.146224,-0.284776,-0.586585,-0.475417
30347,-0.450166,-0.522757,-0.330981,-0.308605,-0.444974,-0.409780,-0.483166,-0.207864,-0.146224,-0.284776,-0.586585,-0.475417
30348,-0.645151,-0.522757,-0.330981,-0.308605,-0.444974,-0.409780,-0.483166,-0.207864,-0.146224,-0.284776,-0.586585,-0.475417
30349,0.224761,-0.522757,-0.330981,-0.308605,-0.444974,-0.409780,-0.483166,-0.207864,-0.146224,-0.284776,-0.586585,-0.475417
30350,0.162432,-0.522757,-0.330981,-0.308605,-0.444974,-0.409780,-0.483166,-0.207864,-0.146224,-0.284776,-0.586585,-0.475417

### Categorical data have already been removed in step 2 EDA.

In [31]:
# split test/train data
X = data_medianinc_scaled.drop('med_houseinc_12mon', axis=1)
y = data_medianinc_scaled['med_houseinc_12mon']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=777)

(       nflood_total  flood_count_fall  flood_count_winter  flood_count_spring  \
 1988      -0.360028         -0.330981           -0.308605           -0.070396
 11740      0.290886          0.593177            0.284585           -0.444974
 23132     -0.522757         -0.330981           -0.308605           -0.444974
 26037     -0.522757         -0.330981           -0.308605           -0.444974
 14438     -0.197300         -0.330981           -0.308605            0.304182
 ...             ...               ...                 ...                 ...
 4017       1.918172          1.517335           -0.308605            1.802493
 7767      -0.197300         -0.330981           -0.308605            0.304182
 19366     -0.522757         -0.330981           -0.308605           -0.444974
 15931     -0.197300         -0.330981           -0.308605            0.304182
 15151      0.616343          2.441493            0.284585            0.678760

        nflood_2000s  nflood_2010s  flood_dur_hours_median  \
 1988      -0.409780     -0.483166               -0.148516
 11740     -0.409780      0.459544               -0.168947
 23132     -0.409780     -0.483166               -0.207864
 26037     -0.409780     -0.483166               -0.207864
 14438      0.134352     -0.483166               -0.173163
 ...             ...           ...                     ...
 4017       2.310880      1.637932               -0.143002
 7767      -0.409780     -0.011811                7.419558
 19366     -0.409780     -0.483166               -0.207864
 15931     -0.409780     -0.483166               -0.164082
 15151      2.855011     -0.247488               -0.170893

        flood_dur_hours_min  flood_dur_hours_max  channel_length_km  \
 1988             -0.049551            -0.256851          -0.134336
 11740            -0.114528            -0.065034           0.424651
 23132            -0.146224            -0.284776          -0.120729
 26037            -0.146224            -0.284776          -0.534762
 14438            -0.106076            -0.263718          -0.481435
 ...                    ...                  ...                ...
 4017             -0.114528             0.467537           1.247352
 7767              1.152791             6.517937           0.643924
 19366            -0.146224            -0.284776          -0.556665
 15931            -0.074908            -0.264176           0.038953
 15151            -0.110302            -0.198558           0.463762

        delta_floods
 1988      -0.475417
 11740      1.246419
 23132     -0.475417
 26037     -0.475417
 14438     -2.197254
 ...             ...
 4017       0.016536
 7767       1.246419
 19366     -0.475417
 15931     -0.475417
 15151     -1.705301

 [20335 rows x 11 columns],
        nflood_total  flood_count_fall  flood_count_winter  flood_count_spring  \
 10674     -0.034571         -0.330981           -0.308605           -0.070396
 9196      -0.034571          0.593177           -0.308605           -0.070396
 27693     -0.522757         -0.330981           -0.308605           -0.444974
 27227     -0.522757         -0.330981           -0.308605           -0.444974
 5312       0.941800         -0.330981           -0.308605           -0.444974
 ...             ...               ...                 ...                 ...
 24178     -0.522757         -0.330981           -0.308605           -0.444974
 4163      -0.034571         -0.330981            0.284585            0.304182
 29521     -0.522757         -0.330981           -0.308605           -0.444974
 17329      0.128157         -0.330981           -0.308605           -0.070396
 28892     -0.522757         -0.330981           -0.308605           -0.444974

        nflood_2000s  nflood_2010s  flood_dur_hours_median  \
 10674      0.678484     -0.247488                0.006180
 9196       0.134352     -0.011811               -0.198135
 27693     -0.409780     -0.483166               -0.207864
 27227     -0.409780     -0.483166               -0.207864
 5312       0.134352      0.459544               -0.189054
 ...             ...           ...                     ...
 24178     -0.409780     -0.483166               -0.207864
 4163       1.222616     -0.483166               -0.093707
 29521     -0.409780     -0.483166               -0.207864
 17329     -0.409780      0.459544               -0.141381
 28892     -0.409780     -0.483166               -0.207864

        flood_dur_hours_min  flood_dur_hours_max  channel_length_km  \
 10674            -0.043212            -0.150489           0.107455
 9196             -0.133017            -0.278520          -0.489098
 27693            -0.146224            -0.284776          -0.496529
 27227            -0.146224            -0.284776          -0.065403
 5312             -0.133017            -0.266465          -0.550808
 ...                    ...                  ...                ...
 24178            -0.146224            -0.284776          -0.564047
 4163             -0.068569            -0.191081          -0.304553
 29521            -0.146224            -0.284776           0.169148
 17329            -0.098680            -0.229841          -0.506755
 28892            -0.146224            -0.284776          -0.486869

        delta_floods
 10674     -1.049363
 9196       0.098528
 27693     -0.475417
 27227     -0.475417
 5312       0.557685
 ...             ...
 24178     -0.475417
 4163      -2.197254
 29521     -0.475417
 17329      1.246419
 28892     -0.475417

 [10016 rows x 11 columns],
 1988     1.435303
 11740   -0.006475
 23132   -1.873899
 26037   -0.399516
 14438    0.491673
            ...
 4017    -0.346914
 7767    -0.018762
 19366    0.444734
 15931   -0.993685
 15151   -0.750994
 Name: med_houseinc_12mon, Length: 20335, dtype: float64,
 10674   -0.535148
 9196     0.578830
 27693    2.533219
 27227    0.858956
 5312     0.976670
            ...
 24178   -0.072387
 4163     0.620137
 29521   -0.303368
 17329   -0.581510
 28892    2.878521
 Name: med_houseinc_12mon, Length: 10016, dtype: float64)

### Ready to begin modeling