In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv('data/02_data.csv', index_col=0)

data

,houseinc_1,houseinc_2,houseinc_3,houseinc_4,houseinc_5,houseinc_top5,med_houseinc_12mon,household_public_assistance1,state_fips,nflood_total,nflood_2000s,nflood_2010s,flood_dur_hours_median,flood_dur_hours_min,flood_dur_hours_max,zcta,channel_length_km,delta_floods
0,19012.0,46688.0,77324.0,114823.0,196563.0,285961.0,76683.0,4573.0,1,1,1.0,0.0,1.967213,1.967213,1.967213,35004,64.301,-1.000000
1,13417.0,33275.0,55436.0,84766.0,161612.0,261520.0,55017.0,2927.0,1,3,2.0,1.0,3.442623,1.967213,3.934426,35005,94.617,-0.333333
2,21037.0,47333.0,61739.0,97453.0,174891.0,332280.0,63521.0,1232.0,1,2,0.0,2.0,3.196721,1.967213,4.426230,35006,306.497,1.000000
3,24161.0,55031.0,82837.0,120215.0,206498.0,315065.0,81351.0,10062.0,1,6,1.0,4.0,2.459016,0.983607,8.852459,35007,108.522,0.600000
4,10357.0,26266.0,47671.0,77083.0,169807.0,301576.0,46730.0,8149.0,1,5,2.0,2.0,1.721311,0.983607,8.360656,35010,649.526,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16827,14232.0,47849.0,75506.0,104600.0,177577.0,275225.0,72252.0,1453.0,56,1,0.0,0.0,2.950820,2.950820,2.950820,83101,1389.844,NaN
16828,20761.0,48707.0,78448.0,115562.0,176184.0,269947.0,81105.0,1767.0,56,1,0.0,1.0,83.606557,83.606557,83.606557,83110,371.217,1.000000
16829,25046.0,57851.0,77922.0,107397.0,148892.0,196216.0,78750.0,875.0,56,2,0.0,2.0,165.737705,0.983607,330.491803,83113,2891.627,1.000000
16830,30730.0,61577.0,81343.0,101374.0,161305.0,248041.0,81724.0,282.0,56,1,0.0,1.0,84.590164,84.590164,84.590164,83114,1043.225,1.000000
16831,29403.0,66477.0,93361.0,145423.0,242197.0,353929.0,85875.0,1685.0,56,1,0.0,1.0,12.786885,12.786885,12.786885,83127,670.178,1.000000

In [12]:
# keep zcta but remove from modeling data
data.index = data['zcta']

# drop columns not used in model
data_houseinc1 = data.drop(['zcta', 'state_fips', 'houseinc_2', 'houseinc_3', 'houseinc_4', 'houseinc_5', 'houseinc_top5', 
                            'med_houseinc_12mon', 'household_public_assistance1'], axis=1)

data_houseinc1.loc[data_houseinc1['delta_floods'].isna(), :]

,houseinc_1,nflood_total,nflood_2000s,nflood_2010s,flood_dur_hours_median,flood_dur_hours_min,flood_dur_hours_max,channel_length_km,delta_floods
zcta,,,,,,,,,
35186,16271.0,1,0.0,0.0,1.393443,1.393443,1.393443,165.604,NaN
35208,9928.0,1,0.0,0.0,2.950820,2.950820,2.950820,4.708,NaN
36064,31770.0,1,0.0,0.0,1.967213,1.967213,1.967213,328.280,NaN
36720,6991.0,1,0.0,0.0,2.868852,2.868852,2.868852,216.476,NaN
36726,11168.0,1,0.0,0.0,4.245902,4.245902,4.245902,878.551,NaN
...,...,...,...,...,...,...,...,...,...
53061,17568.0,1,0.0,0.0,2.016393,2.016393,2.016393,85.278,NaN
54801,16320.0,1,0.0,0.0,0.983607,0.983607,0.983607,248.828,NaN
54854,17017.0,1,0.0,0.0,0.983607,0.983607,0.983607,333.469,NaN
54870,19070.0,1,0.0,0.0,0.983607,0.983607,0.983607,66.189,NaN
83101,14232.0,1,0.0,0.0,2.950820,2.950820,2.950820,1389.844,NaN